body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: #34495E;
  color: #F1C40F;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
@media screen and (orientation: portrait) and (min-width: 320px) {
  body {
    zoom: .55;
  }
}
@media screen and (orientation: portrait) and (min-width: 360px) {
  body {
    zoom: .63;
  }
}
@media screen and (orientation: portrait) and (min-width: 414px) {
  body {
    zoom: .73;
  }
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
#game #gameHeader #restart {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  width: 35px;
  position: absolute;
  left: -40px;
  top: 1px;
}
#game #gameHeader #gameTime {
  min-width: 70px;
  font-size: 22px;
  padding: 5px;
  text-align: center;
}
#game #sdkBoard {
  margin: 0 auto;
  max-width: 464px;
}
#game #sdkBoard > table table {
  width: 150px;
  height: 150px;
  background-color: #2C3E50;
  border-collapse: collapse;
}
#game #sdkBoard .box {
  width: 33.33%;
  height: 33.33%;
  text-align: center;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#game #sdkBoard .box.selected {
  -webkit-box-shadow: 0 0 3px 3px #F1C40F;
  -moz-box-shadow: 0 0 3px 3px #F1C40F;
  box-shadow: 0 0 3px 3px #F1C40F;
  position: relative;
}
#game #sdkBoard .box.alert {
  -webkit-box-shadow: 0 0 3px 3px #E74C3C;
  -moz-box-shadow: 0 0 3px 3px #E74C3C;
  box-shadow: 0 0 3px 3px #E74C3C;
  position: relative;
}
#game #sdkBoard .box.hovering {
  background-color: #425D77;
  cursor: pointer;
}
#game #sdkBoard .box .input_box {
  font-size: 26px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#game #sdkBoard .box .input_box.user_fill {
  color: #FCF2C8;
}
#game #sdkBoard .box .input_box.user_fill.duplicate {
  color: #FF9085;
}
#game #sdkBoard .box .input_box.duplicate {
  color: #E74C3C;
}
#game #gameConfig {
  margin: 0 auto;
}
#game #gameConfig #altInput span {
  min-width: 38px !important;
  padding: 5px !important;
  font-size: 32px !important;
}
#game #gameConfig #altInput #undo {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  width: 45px;
  position: absolute;
  left: -55px;
  top: 10px;
}
#game #gameConfig #altInput #delete {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  width: 38px;
  position: absolute;
  top: 5px;
  right: -50px;
}
#game #difficulty,
#game #gameHeader,
#game #gameConfig,
#game #gameConfig #altInput {
  margin: 10px auto;
  display: table;
  position: relative;
}
#game #difficulty span,
#game #gameConfig #altInput span {
  min-width: 70px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  vertical-align: middle;
  font-size: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#restart:hover,
#undo:hover,
#delete:hover,
#difficulty span:hover,
#altInput span:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#restart:active,
#undo:active,
#delete:active,
#difficulty span:active,
#altInput span:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#restart:hover,
#undo:hover,
#delete:hover,
.continueGame:hover,
.userOk:hover,
.userCancel:hover {
  cursor: pointer;
}
#difficulty span:hover,
#altInput span:hover {
  cursor: pointer;
  background-color: #425D77;
}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2C3E50;
  display: none;
  overflow: hidden;
}
#overlay .confirmation {
  height: 136px !important;
  overflow: hidden !important;
}
#overlay .confirmation > span {
  font-size: 32px !important;
}
#overlay .confirmation > span.userOk {
  width: 49.5% !important;
  background-color: #F1C40F;
  color: #2C3E50;
  float: left;
}
#overlay .confirmation > span.userCancel {
  width: 49.5% !important;
  background-color: #F1C40F;
  color: #2C3E50;
  float: right;
}
#overlay .complete,
#overlay .confirmation {
  width: 370px;
  height: 328px;
  color: #F1C40F;
  position: absolute;
  top: 200%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px;
  -moz-box-shadow: 0 0 0 1px;
  box-shadow: 0 0 0 1px;
  padding: 5px;
}
#overlay .complete > span,
#overlay .confirmation > span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 15px 0;
}
#overlay .complete .winTime {
  font-size: 64px !important;
  background-color: #F1C40F;
  color: #2C3E50;
  padding: 9px 0;
  text-align: center;
}
