*{
  margin: 0;
  padding: 0;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

#gameTime{
  display: block;
  border: 1px solid black;
  text-align: center;
  margin: 10px auto;
  width: 70px;
}

.input_box{
  font-size: 26px;
}

.fill_lock{
  color: #565656;
}

.duplicate{
  color: #e74c3c;
}

.user_fill.duplicate{
  color: #c0392b;
}

#sdkBoard, #diff{
  margin: 0 auto;
  max-width: 450px;
}

#sdkBoard table{
  padding: 0;
  border-collapse: collapse;
}

#sdkBoard > table{
  /*width: 600px;
  height: 600px;*/
  border: 1px solid;
}

#sdkBoard > table table{
  width: 150px;
  height: 150px;
}

#sdkBoard .box{
  width: 33.33%;
  height: 33.33%;
  text-align: center;
  border: 1px dashed #999;
}

.box.selected{
  box-shadow: 0 0 3px 3px #3498db;
  position: relative;
}

.box.alert{
  box-shadow: 0 0 3px 5px #e74c3c;
}

.box.hovering{
  background-color: #eee;
  cursor: pointer;
}

#diff{
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  display: table;
}

#diff span{
  min-width: 100px;
  float: left;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

#diff span:hover{
  cursor: pointer;
}
